:root{
    /*Colores principales*/
    --primary-bg-color:#073f89;
    --primary-text-color:#fff;

    /*Colores secundarios*/
    --secondary-bg-color:#f4f4f4;
    --secondary-text-color:#444;

    /*Espacios generales*/
    --padding:1rem;
    --nav-width:200px;
    --section-padding:1rem;
    --section-padding-small:0.5rem;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1{
    font-weight: 300;
    font-size: 1.5rem!important;
}

header{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding-left: var(--padding);
    /*text-align: center;*/
}

main{
    display: flex;
    flex: 1;
}
nav{
    background-color: var(--secondary-bg-color);
    width: var(--nav-width);
    padding: var(--padding);
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    margin-bottom: var(--padding);
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-text-color);
    display:block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}
    nav ul li a:hover,
    nav ul li a:focus{
        background-color: var(--primary-bg-color);
        color: var(--primary-text-color);
        
    }
    nav ul li a:active{
        background-color: #062957;
        color: var(--primary-text-color);
    }

    nav ul li a svg{
        margin-right: 1rem;
    }
section{
    flex: 1;
    padding: var(--section-padding);
}
footer{
    background-color: var(--primary-bg-color);;
    color: var(--primary-text-color);
    text-align: center;
    padding: var(--padding);
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}

@media(max-width:768px){
    main{
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    section{
        padding: var(--section-padding-small);
    }
}